
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_24 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
 
.grid_1, 
.grid_2, 
.grid_3, 
.grid_4, 
.grid_5, 
.grid_6, 
.grid_7, 
.grid_8, 
.grid_9, 
.grid_10, 
.grid_11, 
.grid_12, 
.grid_13, 
.grid_14, 
.grid_15, 
.grid_16, 
.grid_17, 
.grid_18, 
.grid_19, 
.grid_20, 
.grid_21, 
.grid_22, 
.grid_23, 
.grid_24,
.grid_24{
	display:inline;
	float: left;
	position: relative;
	margin-left: 5.0px;
	margin-right: 5.0px;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .grid_1{
	width:30px;
}

.container_24 .grid_2{
	width:70px;
}

.container_24 .grid_3{
	width:110px;
}

.container_24 .grid_4{
	width:150px;
}

.container_24 .grid_5{
	width:190px;
}

.container_24 .grid_6{
	width:230px;
}

.container_24 .grid_7{
	width:270px;
}

.container_24 .grid_8{
	width:310px;
}

.container_24 .grid_9{
	width:350px;
}

.container_24 .grid_10{
	width:390px;
}

.container_24 .grid_11{
	width:430px;
}

.container_24 .grid_12{
	width:470px;
}

.container_24 .grid_13{
	width:510px;
}

.container_24 .grid_14{
	width:550px;
}

.container_24 .grid_15{
	width:590px;
}

.container_24 .grid_16{
	width:630px;
}

.container_24 .grid_17{
	width:670px;
}

.container_24 .grid_18{
	width:710px;
}

.container_24 .grid_19{
	width:750px;
}

.container_24 .grid_20{
	width:790px;
}

.container_24 .grid_21{
	width:830px;
}

.container_24 .grid_22{
	width:870px;
}

.container_24 .grid_23{
	width:910px;
}

.container_24 .grid_24{
	width:950px;
}





/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_24 .prefix_1 {
	padding-left:40px;
}

    .container_24 .prefix_2 {
	padding-left:80px;
}

    .container_24 .prefix_3 {
	padding-left:120px;
}

    .container_24 .prefix_4 {
	padding-left:160px;
}

    .container_24 .prefix_5 {
	padding-left:200px;
}

    .container_24 .prefix_6 {
	padding-left:240px;
}

    .container_24 .prefix_7 {
	padding-left:280px;
}

    .container_24 .prefix_8 {
	padding-left:320px;
}

    .container_24 .prefix_9 {
	padding-left:360px;
}

    .container_24 .prefix_10 {
	padding-left:400px;
}

    .container_24 .prefix_11 {
	padding-left:440px;
}

    .container_24 .prefix_12 {
	padding-left:480px;
}

    .container_24 .prefix_13 {
	padding-left:520px;
}

    .container_24 .prefix_14 {
	padding-left:560px;
}

    .container_24 .prefix_15 {
	padding-left:600px;
}

    .container_24 .prefix_16 {
	padding-left:640px;
}

    .container_24 .prefix_17 {
	padding-left:680px;
}

    .container_24 .prefix_18 {
	padding-left:720px;
}

    .container_24 .prefix_19 {
	padding-left:760px;
}

    .container_24 .prefix_20 {
	padding-left:800px;
}

    .container_24 .prefix_21 {
	padding-left:840px;
}

    .container_24 .prefix_22 {
	padding-left:880px;
}

    .container_24 .prefix_23 {
	padding-left:920px;
}

    .container_24 .prefix_24 {
	padding-left:960px;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_24 .suffix_1 {
	padding-right:40px;
}

    .container_24 .suffix_2 {
	padding-right:80px;
}

    .container_24 .suffix_3 {
	padding-right:120px;
}

    .container_24 .suffix_4 {
	padding-right:160px;
}

    .container_24 .suffix_5 {
	padding-right:200px;
}

    .container_24 .suffix_6 {
	padding-right:240px;
}

    .container_24 .suffix_7 {
	padding-right:280px;
}

    .container_24 .suffix_8 {
	padding-right:320px;
}

    .container_24 .suffix_9 {
	padding-right:360px;
}

    .container_24 .suffix_10 {
	padding-right:400px;
}

    .container_24 .suffix_11 {
	padding-right:440px;
}

    .container_24 .suffix_12 {
	padding-right:480px;
}

    .container_24 .suffix_13 {
	padding-right:520px;
}

    .container_24 .suffix_14 {
	padding-right:560px;
}

    .container_24 .suffix_15 {
	padding-right:600px;
}

    .container_24 .suffix_16 {
	padding-right:640px;
}

    .container_24 .suffix_17 {
	padding-right:680px;
}

    .container_24 .suffix_18 {
	padding-right:720px;
}

    .container_24 .suffix_19 {
	padding-right:760px;
}

    .container_24 .suffix_20 {
	padding-right:800px;
}

    .container_24 .suffix_21 {
	padding-right:840px;
}

    .container_24 .suffix_22 {
	padding-right:880px;
}

    .container_24 .suffix_23 {
	padding-right:920px;
}

    .container_24 .suffix_24 {
	padding-right:960px;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_24 .push_1 {
	left:40px;
}

    .container_24 .push_2 {
	left:80px;
}

    .container_24 .push_3 {
	left:120px;
}

    .container_24 .push_4 {
	left:160px;
}

    .container_24 .push_5 {
	left:200px;
}

    .container_24 .push_6 {
	left:240px;
}

    .container_24 .push_7 {
	left:280px;
}

    .container_24 .push_8 {
	left:320px;
}

    .container_24 .push_9 {
	left:360px;
}

    .container_24 .push_10 {
	left:400px;
}

    .container_24 .push_11 {
	left:440px;
}

    .container_24 .push_12 {
	left:480px;
}

    .container_24 .push_13 {
	left:520px;
}

    .container_24 .push_14 {
	left:560px;
}

    .container_24 .push_15 {
	left:600px;
}

    .container_24 .push_16 {
	left:640px;
}

    .container_24 .push_17 {
	left:680px;
}

    .container_24 .push_18 {
	left:720px;
}

    .container_24 .push_19 {
	left:760px;
}

    .container_24 .push_20 {
	left:800px;
}

    .container_24 .push_21 {
	left:840px;
}

    .container_24 .push_22 {
	left:880px;
}

    .container_24 .push_23 {
	left:920px;
}

    .container_24 .push_24 {
	left:960px;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_24 .pull_1 {
	right:40px;
}

    .container_24 .pull_2 {
	right:80px;
}

    .container_24 .pull_3 {
	right:120px;
}

    .container_24 .pull_4 {
	right:160px;
}

    .container_24 .pull_5 {
	right:200px;
}

    .container_24 .pull_6 {
	right:240px;
}

    .container_24 .pull_7 {
	right:280px;
}

    .container_24 .pull_8 {
	right:320px;
}

    .container_24 .pull_9 {
	right:360px;
}

    .container_24 .pull_10 {
	right:400px;
}

    .container_24 .pull_11 {
	right:440px;
}

    .container_24 .pull_12 {
	right:480px;
}

    .container_24 .pull_13 {
	right:520px;
}

    .container_24 .pull_14 {
	right:560px;
}

    .container_24 .pull_15 {
	right:600px;
}

    .container_24 .pull_16 {
	right:640px;
}

    .container_24 .pull_17 {
	right:680px;
}

    .container_24 .pull_18 {
	right:720px;
}

    .container_24 .pull_19 {
	right:760px;
}

    .container_24 .pull_20 {
	right:800px;
}

    .container_24 .pull_21 {
	right:840px;
}

    .container_24 .pull_22 {
	right:880px;
}

    .container_24 .pull_23 {
	right:920px;
}

    .container_24 .pull_24 {
	right:960px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------- Arianit -----------------------------------------*/
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: #434343;
	font-size: 11px;
	text-align: left;
	outline: none;
}
img{
	border: none;
    outline: none;
}
a{ 
	cursor: pointer;
    color: #2a8bff;
    outline: none;
}
h1{
	font-size: 18px;
    color:#d0d0d0;
}
h2{
	font-size: 14px;
    color: #000;
}
h3{
	font-size: 12px;
}
h4{
	font-size: 11px;
}
h5{
	font-size: 10px;
}
p{
	line-height: 16px;
}
body.home{
    background: url(../images/body_home.png) repeat-x left top;
}
body{
    background: url(../images/body_tpl.png) repeat-x left top;
}
div.entirebody{
    margin: 0px auto !important;
}
div.container-holder{
    
}
div.header{
    height: 111px;    
}
div.logo{
    height: 75px;
    overflow: hidden;
}
div.logo img{margin-left: 10px;}
div.top-right{
    float: right;
    margin-top: 7px;
}
div.top-right ul li{
    display: inline;
    margin-right: 1px;
}
div.top-right ul.topnav{
    float: right;
    width: 280px;
    margin-left: 145px;
    margin-bottom: 7px;
}
div.top-right ul li a{
    color: #fff;
    font-family: Tahoma;
    padding-right: 7px;
    background: url(../images/topnav_border.gif) no-repeat right center;
}
div.top-right ul li.last a{
    background: none;
}
div.top-right ul li a:hover,
div.top-right ul li a.active{
    color: #0c89b5;
}
ul.lang{
    float: left;
    width: 141px;
    margin-top: 4px;
    text-align: right;
}
form.search-form{
    width: 280px;
    float: right;
    background: url(../images/search-form-bg.png) no-repeat left top;
}
form.search-form input{
    border: 0px;
    background: none;
}
form.search-form input.text{
    float: left;
    width: 222px;
    display: inline;
    padding: 4px 5px;
    //padding: 2px 5px;
}
form.search-form input.go{
    width: 48px;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    padding: 3px 0 4px 0px;
    text-transform: uppercase;
}
div.mainnav{
    position: relative;
}
div.mainnav ul{
    float: left;
    overflow: hidden;
}
div.mainnav ul li{
    float: left;
    display: inline;
    position: relative;
    background: url(../images/mainnav_border.png) no-repeat right top;
}
div.mainnav ul li.last{background: none;}
div.mainnav ul li a{
    float: left;
    color: #fff;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    padding: 9px 15px 12px 15px;
}
div.mainnav ul li a.shadow{
    color: #000;
    position: absolute;
    top: 11px;
    left: 15px;
    z-index: -1;
    padding: 0px 0px;
}
div.mainnav ul li a.active,
div.mainnav ul li a.active:hover{
    color: #e19200;
}
div.mainnav ul li a:hover{
    color: #56a3ff;
}
div.mainnav ul li a.shadow:hover{
    color: #000;
}
div.banner{
    height: 139px;
    overflow: hidden;
    background: url(../images/banner_new.png) no-repeat left top;
}
div.mainnav ul li a.active{
    background: url(../images/mainnav_active.png) no-repeat center bottom;    
}
ul.banner-nav{
    float: right;
    margin-top: 30px;
}
ul.banner-nav li{
    float: left;
    width: 170px;
    margin-right: 5px;
    margin-bottom: 5px;
}
ul.banner-nav li a{
    float: left;
    position: relative;
    background: #0c89b5;
}
ul.banner-nav li a img{float: left;}
ul.banner-nav li a span.middle{
    float: left;
    color: #fff;
    width: 116px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding-left: 40px;
    margin: -8px 0 -6px 0;
    background: url(../images/banner-nav-arows.gif) no-repeat 26px -318px;
}
ul.banner-nav li a span.span-top{
    width: 170px;
    float: left;
    height: 10px;
    font-size: 0px;
    background: url(../images/span-top.gif) no-repeat left top #0383b3;
}
ul.banner-nav li a span.span-bott{
    width: 170px;
    float: left;
    height: 10px;
    font-size: 0px;
    background: url(../images/span-bott.gif) no-repeat left top #0383b3;
}
ul.banner-nav li a.active span.span-top,
ul.banner-nav li a.active:hover span.span-top{
    background: url(../images/span-top-active.gif) no-repeat left top #ffa602;
}
ul.banner-nav li a.active span.span-bott,
ul.banner-nav li a.active:hover span.span-bott{
    background: url(../images/span-bott-active.gif) no-repeat left top #ffa602;
}
ul.banner-nav li a.active,
ul.banner-nav li a.active:hover{
    background: #ffa602;
}
ul.banner-nav li a.active span.middle,
ul.banner-nav li a.active:hover span.middle{
    background: url(../images/banner-nav-arows.gif) no-repeat 26px -152px;
}
ul.banner-nav li a:hover span.span-top{
    background: url(../images/span-top-hover.gif) no-repeat left top #77bad2;
}
ul.banner-nav li a:hover span.span-bott{
    background: url(../images/span-bott-hover.gif) no-repeat left top #49a3c3;
}
ul.banner-nav li a:hover{
    background: #77bad2;
}
ul.banner-nav li a:hover span.middle{
    background: url(../images/banner-nav-arows.gif) no-repeat 26px 4px;
}
div.container{
    padding-bottom: 50px;
    margin-top: 34px;
}
body div.container{
    margin-top: 38px;
}
div.leftside h1{margin-bottom:16px;}
ul.home-news{
    position: relative;
}
ul.home-news li,
.content ul.list-article li,
.content ul.list-doc li{
   
    margin-bottom: 14px;
    padding: 0 0 11px 0;
    border-bottom: 1px solid #dfdfdf;    
} 
ul.home-news li.last{
    margin-bottom: 9px;
}
ul.home-news li img,
.content ul.list-article li img{
    float: left;
    padding: 1px;
    margin:0 10px 0 0;
    border: 1px solid #d9d9d9;
}
ul.home-news li h2,
.content ul.list-article h2{
    margin-bottom: 0px;
}
ul.home-news li span.title,
.content ul.list-article li span.title{
    color: #acacac;
}
div.leftside h2{
    color: #000;
    margin-bottom: 5px;
}
ul.home-news li a{
    margin-left: 4px;
}
ul.home-news li p a{
    white-space:nowrap;
}
ul.home-news li a:hover{
    text-decoration: underline;
}
ul.home-news li.view-all{
    padding: 0px;
    margin: 0;
    right: 0px;
    bottom: 0px;
    border: 0px;
    position: absolute;
    float: right;
}
ul.home-news li.view-all a,
ul.home-decisions li.view-all a{
    float: left;
    position: absolute;
    bottom: 4px;
    right: 0px;
    margin: 0px 0px;
    padding: 1px 6px 3px 6px;
    position: relative;
    background: #ffffff;
    border: 1px solid #dfdfdf;
}
ul.home-news li.view-all a:hover,
ul.home-decisions li.view-all a:hover{
    color:#ff9502;
    background: #3b3b3b;
    text-decoration: none !important;
}
ul.home-decisions{
    width: 532px;
    padding: 9px;
    position: relative;
    background: url(../images/home-decisions-bg.png) repeat left top;
}
ul.home-decisions li{
    width: 100%;
    margin-bottom: 17px;
}
ul.home-decisions li.last{margin-bottom: 0px !important;}
ul.home-decisions li a{
    color: #000;
}
ul.home-decisions li a span.decisions-nr{
    color: #33b1dd;
    display: block;
}
ul.home-decisions li.view-all{
    margin-bottom: 0px;
}
ul.home-decisions li.view-all a{
    right: 0px;
    bottom: -9px;
    color: #2a8bff;
    position: absolute;
}

/******** rightside **********/
.rightside{
    float: right;
}
.tabs {
    margin-bottom: 18px;
    min-height: 250px;
}
ul#flowtabs{
	top: 0px;
	left: 16px;
	z-index: 10;
	display: inline;
	position: absolute;
	_position: relative;
}
ul#flowtabs li{
	float: left;
	display: inline;
	margin-right: 2px;
}
ul#flowtabs li a,
h2.links,
div.rightnav h2{
	float: left;
	padding-right: 6px;
	background: url(../images/tabs_a_bg.gif) no-repeat right top;
}
ul#flowtabs li a span,
h2.links span,
div.rightnav h2 span{
	float: left;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
	padding: 5px 0px 5px 6px;
	background: url(../images/tabs_span_bg.gif) no-repeat left top;
}
h2.links span{
    padding: 5px 8px 4px 18px;
}
ul#flowtabs li a.current,
ul#flowtabs li a.current:hover,
div.rightnav h2{
	float: left;
	background: #fff url(../images/tabs_a_bg.gif) no-repeat right -176px;
}
ul#flowtabs li a.current span,
ul#flowtabs li a.current:hover span,
div.rightnav h2 span{
	float: left;
    color: #000;
	background: url(../images/tabs_span_bg.gif) no-repeat left -176px;
}
ul#flowtabs li a:hover{
    background: url(../images/tabs_a_bg.gif) no-repeat right -88px;
}
ul#flowtabs li a:hover span{
    color: #fff;
    background: url(../images/tabs_span_bg.gif) no-repeat left -83px;
}
#flowpanes{
	float: left;
	position: relative;
    margin-top: 24px;
	_margin-top: -1px;
	min-height: 156px !important;
	//height: auto !important;
	//height: 156px; 
    padding-top: 15px;
	border-top: 1px solid #dedede;
}
#flowpanes h2{
	margin-bottom: 9px;
}
#flowpanes ul{
    float: left;
    position: relative;
}
#flowpanes ul li{
	float: left;
	display: block;
    margin-bottom: 9px;
    padding-bottom: 4px;
    border-bottom: 1px solid #dfdfdf;
}
#flowpanes ul li.last{
    padding-bottom: 21px;
}
#flowpanes ul li span.date{
    display: block;
    color: #acacac;
    padding-left: 30px;
}
#flowpanes ul li span.title{
    color: #000;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 3px;
    background: url(../images/doc_icon.png) no-repeat left 0px;
    width: 260px;
}
#flowpanes ul li span.title:hover{
    text-decoration: underline;
}
#flowpanes ul li.view-all{
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#flowpanes ul li.view-all a{
    float: right;
    margin: 0px 0px;
    padding: 1px 6px 3px 6px;
    background: #ffffff;
    border: 1px solid #dfdfdf;
}
#flowpanes ul li.view-all a:hover{
    color:#ff9502;
    background: #3b3b3b;
    text-decoration: none !important;
}
/******** LINKS *******/
div.links h2.links{margin-left: 16px;display: block;}
div.links ul{
    margin-top: -1px;
    /*padding-top: 6px;
    border-top: 1px solid #dfdfdf;*/
}
div.links ul li{
    float: left;
    width: 155px;
    padding: 7px 0 5px 20px;
}
div.links ul li.splitter{
    width: 100%;
    height: 1px;
    padding: 0px 0px;
    border-bottom: 1px solid #dfdfdf;
}
div.links ul li a{
    float: left;
    color: #444;
    font-size: 12px;
    margin-left: 10px;
}
div.links ul li a:hover{text-decoration: underline;}
div.links ul li a.left{width: 182px;}
div.links ul li a.right{width: 122px;}

/********* bott-container *********/
div.bott-container{margin-top: 37px;}
div.bott-container h2{font-size: 15px; margin-bottom: 7px;}
div.bott-container div{
    border-right: 2px solid #eeeeee;
}
div.bott-container div a{
    line-height: 18px;
    color: #515151;
    padding-right: 5px;
}
div.bott-container div.grid_8{width: 308px;}

/*********** footer-holder ************/
.footer-holder{
    float:left;
    width:100%;
    height: 129px;
    margin:0 auto;
    text-align:center;
    background: url(../images/footer_bg.png) repeat-x top #444444;
}
.footer-holder .footer{
    margin:  0px auto;
    width: 950px;
}
.footer-holder .footer ul.bott-nav{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
.footer-holder .footer ul.bott-nav li{display: inline;margin-right:31px;}
.footer-holder .footer ul.bott-nav li a{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-holder .footer ul.bott-nav li a:hover{
    text-decoration: underline;
}
.footer-holder .footer p{
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}

/************** leftnav *************/
div.leftnav{
    float: left;
    width: 188px;
    border-top: 5px solid #414141;
}
div.leftnav ul{
    float: left;
    width: 188px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
div.leftnav ul li{
    float: left;
    width: 188px;
    display: block;
    border-bottom: 1px solid #eee;
}
div.leftnav ul li a{
    width: 156px;
    float: left;
    margin: 2px;  
    color:#919191;
    display: block;
    font-size: 12px;
    position: relative;
    padding: 5px 10px 5px 18px;
    background: url(../images/leftnav_arows.gif) no-repeat 7px 9px;
}
div.leftnav ul li a.active,
div.leftnav ul li a.active:hover{
    color: #fff;
    background: #676767 url(../images/leftnav_arows.gif) no-repeat 7px 9px;
}
div.leftnav ul li a:hover{
    color: #000;
    background: #ececec url(../images/leftnav_arows.gif) no-repeat 7px -284px;
}
/********** content *****************/
.content{
    margin: 0px 40px; 
    display: inline;
    min-height: 400px !important;
    //height: auto !important;
    //height: 400px;
} 
.content h1{color: #d1d1d1;}
.content img{padding: 1px; border: 1px solid #d9d9d9; float: left; margin: 0px 0px 10px 0px;}
.content a:hover{text-decoration: underline;}
.content p{margin-bottom: 18px;}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5{margin-bottom: 13px;}
.content ul li{
    padding-left: 14px;
    background: url(../images/content_ul_li.png) no-repeat left 4px;
}
.content ul,
.content ol{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.content ul.photo-gallery li{
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	background: none;
	padding: 0;
}
.content ul.photo-gallery li a img {
	margin: 0;
}
.content ul li,
.content ol li{
    margin-bottom: 6px;
}
.content ol li{
    list-style-type: decimal;
    list-style-position: inside;
}
/************ rightnav ***********/
div.rightnav h2{
    margin-lefT: 10px;
}
div.rightnav ul{
    float: left;
    border-top: 1px solid #dfdfdf;
}
div.rightnav ul li{
    padding: 10px 0px;
    border-bottom: 1px solid #dfdfdf;
}
div.rightnav ul li a{
    display: block;
    list-style-position: outside;
}
div.rightnav ul li span{
    display: block;
    color: #acacac;
}
div.rightnav ul li a:hover{
    text-decoration: underline;
}
.content ul.list-article li{
    background: none;
    padding-left: 0px;
}
.content ul.list-article li p,
.content ul.list-doc li p{margin-bottom: 0px;}

/*********** list-doc **********/
.content ul.list-doc li{
    padding-lefT: 0px;
    background: none;
}
.content ul.list-doc li h2{
    margin-bottom: 1px;
}
.content ul.list-doc li p{
    font-size: 12px;
}
.content ul.list-doc li span,
.content ul.list-gallery li span{
    color: #acacac;
}
.content ul.list-doc li a.download{
    float: left;
    font-size: 14px;
    margin-top: 6px;
    padding: 3px 0 14px 37px;
    background: url(../images/download_icon.png) no-repeat left 0px;
}
/************** gallery *************/
.content ul.list-gallery li{
    padding-left: 0px;
    background: none;
    margin-right: 46px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    //padding-bottom: 3px;
    border-bottom: 1px solid #dfdfdf;
}
.content ul.list-gallery li.last{
    margin-right: 0px;
}
.content ul.list-gallery li p{
    color: #000;
    font-size: 12px;
    margin-bottom: 8px;
}
.content ul.list-gallery li a{
    float: left;
    font-weight: bold;
    padding: 2px 0 2px 24px;
    background: url(../images/gallery_a_bg.png) no-repeat left 0px;
}
/**************** contact *****************/
.content form{
    width: 431px;
    float: left;
    border: 1px solid #d5d5d5;
    padding: 40px 40px 7px 40px;
    background: url(../images/home-decisions-bg.png) repeat scroll left top;
}
.content form label{
    display: block;
    font-size: 12px;
    color: #000;
    margin-bottom: 7px;
}
.content form label.security{
  margin-top: 7px;
}
.content form dt.verify img.code{
  float: none;
  display: block;
}
.content form dt.verify input.fieldtextbox{
  width: 100px;
}
.content form input{
    width: 418px;
    padding: 11px 5px 8px 5px;
    border: 1px solid #ddd; 
    margin-bottom: 13px;
}
.content form textarea{
    width: 418px;
    padding: 5px 5px;
    border: 1px solid #ddd;
}
.content form input.submit{
    float: right;
    width: 70px;
    color: #fff;
    cursor: pointer;
    margin-top: 17px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #505050;
    background: #444444 url(../images/submit_bg.png) repeat-x left top;
}

ul.other-news{
  width: 100%;
}
ul.other-news li{
  width: 100%;
}
span.required_fields{
  clear: both;
  float: left;
}

/********* sitemap default **********/
ul#browser li{
  background:url(../images/tree_images/treeview-default-line.gif) no-repeat scroll 0 0 transparent;
}
ul.treeview li{
  margin-bottom: 0;
}
ul.links li{
  border-bottom: 1px solid #dfdfdf;
  background: none;
  padding: 0px 0 7px 0;
}

div.rightnav ul.doc{
  width: 150px;
}
div.rightnav ul.doc li{
  width: 150px;
}

/*------------------------ jQuery Gallery -------------------------*/

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(../images/overlay.png) 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) -100px 0 no-repeat;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) -129px 0 no-repeat;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) -100px -29px no-repeat;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) -129px -29px no-repeat;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(../images/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}

ul.search li{
  background: none;
  border-bottom:1px solid #DFDFDF;
  padding-left: 0;
}
ul.press_year li{
  display: inline;
  background: none;
}
	ol#pagination{overflow:hidden;}
	ol#pagination li{
		   border: 1px solid black;
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 0 0 0 0.5em;
    text-align: center;
    width: 20px;
		}
	ol#pagination li.current{color:#0383b3;font-weight:bold;}
        a span#speed-test{
              background:url(../images/speed-test.jpg) no-repeat scroll 0 0 transparent;
             display: block;
    height: 80px;
    margin-bottom: 10px;
        }
        
        div.links a span#speed-test p{
             font-size: 14px;
    margin: 0;
    padding: 2px 0 19px 86px;
        }
        div.links a span#speed-test h3{
            
            color: #0F8FBA;
            font-weight: bold;
    line-height: 18px;
    padding: 16px 0 0 86px;
    text-transform: none;
	        }
		html body.home div.entirebody div.container-holder div.banner ul.banner-nav{
		width:525px;
		}