{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<!-- Description -->


<!-- Top menu -->
<!--<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">-->
    <!--div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Bsdfdsdf- Bootstrap Wizard Template</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--div class="collapse navbar-collapse" id="top-navbar-1">
            <!--ul class="nav navbar-nav navbar-right">
                <li>
							<span class="li-text">
								Put some text or
							</span>
                    <a href="#"><strong>links</strong></a>
                    <span class="li-text">
								here, or some icons:
							</span>
                    <span class="li-social">
								<a href="https://www.facebook.com/pages/Azmindcom/196582707093191" target="_blank"><i
                                        class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/anli_zaimi" target="_blank"><i
                                        class="fa fa-twitter"></i></a>
								<a href="https://plus.google.com/+AnliZaimi_azmind" target="_blank"><i
                                        class="fa fa-google-plus"></i></a>
								<a href="https://github.com/AZMIND" target="_blank"><i class="fa fa-github"></i></a>
							</span>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Top content -->
<div class="top-content">
    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1>ARKEP</h1>
                <div class="description">
                    <p>
                        AUTORITETI RREGULLATIV I KOMUNIKIMEVE ELEKTRONIKE DHE POSTARE
                        REGULATORNI AUTORITET ZA ELEKTRONSKE I POSTANSKE KOMUNIKACIJE
                        REGULATORY AUTHORITY OF ELEKTRONIC AND POSTAL COMMUNICATIONS
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                <form role="form" action="" method="post" class="f1">


                    <p>FORMULAR I NJOFTIMIT</p>
                    <div class="f1-steps">
                        <div class="f1-progress">
                            <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3"
                                 style="width: 16.66%;"></div>
                        </div>
                        <div class="f1-step active">
                            <div class="f1-step-icon"><i class="fa fa-newspaper-o"></i></div>

                        </div>
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-sticky-note"></i></div>

                        </div>
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-phone"></i></div>

                        </div>
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-question-circle"></i></div>

                        </div>

                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-key"></i></div>

                        </div>
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-key"></i></div>

                        </div>
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-key"></i></div>


                        </div>


                    </div>
                    <fieldset>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-offset-2">
                                    <br>
                                    <p>QELLIMI I NJOFTIMIT: </p>

                                    <div class="btn-group btn-group-vertical" data-toggle="buttons">
                                        <label class="btn">
                                            <input type="radio" name='gender1'><i
                                                class="fa fa-circle-o fa-2x"></i><i
                                                class="fa fa-dot-circle-o fa-2x"></i>
                                            <span>Fillimi i sherbimit</span>
                                        </label>
                                        <label class="btn">
                                            <input type="radio" name='gender1'><i class="fa fa-circle-o fa-2x"></i><i
                                                class="fa fa-dot-circle-o fa-2x"></i><span>Shtim sherbimi</span>
                                        </label>
                                        <label class="btn">
                                            <input type="radio" name='gender1'><i class="fa fa-circle-o fa-2x"></i><i
                                                class="fa fa-dot-circle-o fa-2x"></i><span>Heqje sherbimi</span>
                                        </label>
                                    </div>


                                </div>

                            </div>
                            <div class="f1-buttons">
                                <!--<button type="button" class="btn btn-previous">Previous</button>-->
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </div>
                    </fieldset>

                    {#
                    <fieldset>#}
                        {# <h4>Tell us who you are:</h4>#}
                        {#
                        <div class="form-group">#}
                            {# <label class="sr-only" for="f1-first-name">Emri i ndermaresit</label>#}
                            {# <input type="text" name="f1-first-name" placeholder="First name..."
                                      class="f1-first-name form-control" id="f1-first-name">#}
                            {#
                        </div>
                        #}
                        {#
                        <div class="form-group">#}
                            {# <label class="sr-only" for="f1-last-name">Last name</label>#}
                            {# <input type="text" name="f1-last-name" placeholder="Last name..."
                                      class="f1-last-name form-control" id="f1-last-name">#}
                            {#
                        </div>
                        #}
                        {#
                        <div class="form-group">#}
                            {# <label class="sr-only" for="f1-about-yourself">About yourself</label>#}
                            {# <textarea name="f1-about-yourself" placeholder="About yourself..." #}
                                         {# class="f1-about-yourself form-control" id="f1-about-yourself"></textarea>#}
                            {#
                        </div>
                        #}
                        {#
                        <div class="f1-buttons">#}
                            {#
                            <button type="button" class="btn btn-next">Next</button>
                            #}
                            {#
                        </div>
                        #}

                        {#
                    </fieldset>
                    #}

                    <fieldset>
                        <h4>TË DHËNAT PËR NDËRMARRËSIN:</h4>
                        <div class="form-group">
                            <label class="sr-only">Emri i Ndërmarrësit (Entiteti</label>
                            <input type="text" placeholder="Emri i Ndërmarrësit (Entiteti)" class=" form-control"
                                   type="text" >
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Numri i Regjistrimit të Biznesit</label>
                            <input type="text" placeholder="Numri i Regjistrimit të Biznesit" class=" form-control"
                                   >
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Numri fiskal</label>
                            <input type="text" placeholder="Numri fiskal"
                                   class=" form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Adresa</label>
                            <input type="text" placeholder="Adresa"
                                   class="form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Numri i Telefonit</label>
                            <input type="text" placeholder="Numri i Telefonit"
                                   class=" form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Numri i Faksit</label>
                            <input type="text" placeholder="Numri i Faksit"
                                   class=" form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">E-mail adresa</label>
                            <input type="text" placeholder="E-mail adresa"
                                   class="form-control" id="f1-email">
                        </div>

                        <div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>

                    <fieldset>
                        <h4>TË DHËNAT PËR ZYRTARIN LIGJËRISHT TË PËRGJEGJËSHËM:</h4>
                        <div class="form-group">
                            <label class="sr-only">Emri i zyrtarit</label>
                            <input type="text" placeholder="Emri i zyrtarit"
                                   class="form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Adresa</label>
                            <input type="text" placeholder="Adresa"
                                   class="form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Numri i Telefonit</label>
                            <input type="text" placeholder="Numri i Telefoni"
                                   class="form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Numri i Faksit</label>
                            <input type="text" placeholder="Numri i Faksit"
                                   class="form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">E-mail addresa</label>
                            <input type="text" placeholder="E-mail addresa"
                                   class="form-control" id="f1-email">
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Numri i ID</label>
                            <input type="text" placeholder="Numri i ID"
                                   class="form-control" id="f1-email">
                        </div>

                        <div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                            <!--<button type="submit" class="btn btn-submit">Submit</button>-->
                        </div>
                    </fieldset>

                    <fieldset>
                        <h4>AKTIVITETET TË CILAT NJOFTOHEN/CREGJISTROHEN:</h4>
                        <hr>
                        Ofrimi i rrjetit publik fiks:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span>Lokal</span>
                            </label>
                            <label class="btn">
                                <input type="checkbox" name='email2'><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Nacional</span>
                            </label>
                            <label class="btn">
                                <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Tjera</span>
                            </label>
                        </div>
                        <hr>
                        Ofrimi i shërbimeve publike fikse:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span>  Shërbime telefonike lokale/nacionale</span>
                            </label>
                            <label class="btn">
                                <input type="checkbox" name='email2'><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span>  Shërbime telefonike ndërkombëtare</span>
                            </label>
                            <label class="btn">
                                <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Telefona publik me pagesë</span>
                            </label>
                            <label class="btn">
                                <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Shërbime tjera</span>
                            </label>
                        </div>

                        <hr>
                        Ofrimi i rrjetit publik mobil:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn ">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Lokal</span>
                            </label>
                            <label class="btn">
                                <input type="checkbox" name='email2'><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span>Nacional  </span>
                            </label>
                        </div>

                        <hr>
                        Ofrimi i shërbimeve publike mobile:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn ">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Shërbime telefonike të zërit</span>
                            </label>
                            <label class="btn">
                                <input type="checkbox" name='email2'><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Transmetim të dhënash </span>
                            </label>

                        </div>
                        <hr>
                        Ofrimi i shërbimeve të linjave me qira:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn ">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Fibër optik të pa-ndriçuar</span>
                            </label>
                            <label class="btn">
                                <input type="checkbox" name='email2'><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span>  Linja tjera me qira</span>
                            </label>

                        </div>
                        <hr>
                        Ofrimi i rrjetave publike me transmetim satelitor:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn ">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Ofrimi i rrjetave publike me transmetim satelitor</span>
                            </label>
                        </div>
                        <hr>
                        Ofrimi i shërbimeve publike satelitore:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn ">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span>  Ofrimi i shërbimeve publike satelitore</span>
                            </label>
                        </div>
                        <hr>
                        Ofrimi i shërbimeve të transmetimit të të dhënave (Internetit):
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn ">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span> Fibër optik të pa-ndriçuar</span>
                            </label>
                        </div>
                        <hr>
                        Ofrimi i shërbimeve të linjave me qira:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn ">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span>Ofrimi i shërbimeve publike të transmetimit të të
      dhënave</span>
                            </label>
                        </div>

                        <hr>
                        Ofrimi i shërbimeve me vlerë të shtuar:
                        <br>

                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn ">
                                <input type="checkbox" name='email1' ><i class="fa fa-square-o fa-2x"></i><i
                                    class="fa fa-check-square-o fa-2x"></i><span>Ofrimi i shërbimeve me vlerë të shtuar
</span>
                            </label>
                        </div>
                        <br>
                        <div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                            <!--<button type="submit" class="btn btn-submit">Submit</button>-->
                        </div>
                    </fieldset>



        </div>
    </div>
</div>


<!-- Javascript -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>


<![endif]-->


</div> {% endblock %}