<!DOCTYPE html>
<html>

<head> {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARKEP</title> {% endblock %}
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">



    <!-- Javascript -->
    <!-- Javascript -->
        <script src="static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/assets/js/retina-1.1.0.min.js"></script>
        <script src="static/assets/js/scripts.js"></script>
    <script>

        $(function () {
            $("input:radio[name=radio_buttons_1_options]").bind("change keyup",
  function () {
      if ($('#radio_buttons_1_options:nth(0)').attr('checked',true) || $('#radio_buttons_2_options:nth(1)').attr('checked',true) || $('#radio_buttons_3_options:nth(2)').attr('checked',true))
          $(this).closest("form").find("#next1").removeAttr("disabled");
      else
          $(this).closest("form").find("#next1").attr("disabled", "disabled");
            });

        $("#emri_nder, #nr_biz, #nr_fiskal, #adresa, #nr_tel, #email").bind("change keyup",
  function () {
      if ($("#emri_nder").val() != "" && $("#nr_biz").val() != "" && $("#nr_fiskal").val() != "" && $("#adresa").val() != "" && $("#nr_tel").val() != "" && $("#email").val() != "")
          $(this).closest("form").find("#next2").removeAttr("disabled");
      else
          $(this).closest("form").find("#next2").attr("disabled", "disabled");
      });
             $.backstretch("{{ url_for('static', filename='assets/img/backgrounds/1.jpg')}}");

            $("#emri_zyrtarit, #adresa_zyrtarit, #nr_tel_zyrtarit, #email_zyrtarit, #nr_id").bind("change keyup",
  function () {
      if ($("#emri_zyrtarit").val() != "" && $("#adresa_zyrtarit").val() != "" && $("#nr_tel_zyrtarit").val() != "" && $("#email_zyrtarit").val() != "" && $("#nr_id").val() != "")
          $(this).closest("form").find("#next3").removeAttr("disabled");
      else
          $(this).closest("form").find("#next3").attr("disabled", "disabled");
      });

            $("#cer_biznesit, #cert_fiskal, #info_biz").bind("change keyup",
  function () {
      if ($("#cer_biznesit").val() != "" && $("#cert_fiskal").val() != "" && $("#info_biz").val() != "")
          $(this).closest("form").find("#next6").removeAttr("disabled");
      else
          $(this).closest("form").find("#next6").attr("disabled", "disabled");
      });

            $("input:radio[name=radio_buttons_11_options]").bind("change keyup",
  function () {
      if ($('#po_konfirm:nth(0)').attr('checked',true) || $('#jo_konfirm:nth(1)').attr('checked',true))
          $(this).closest("form").find("#next7").removeAttr("disabled");
      else
          $(this).closest("form").find("#next7").attr("disabled", "disabled");
            });
        });


        /*$(document).ready(function (){
    validate();
    $('#emri_nder').change(validate);
            $.backstretch("{{ url_for('static', filename='static/assets/img/backgrounds/1.jpg')}}");
});

function validate(){
    if ($('#emri_nder').val().length   >   0 )  {
        $("#next2").prop("disabled", false);
    }
    else {
        $("#next2").prop("disabled", true);
    }
        }*/

        /*jQuery(document).ready(function () {



                $("form").submit(function(e){
        var field1 = $("#emri_nder").val();
         if(field1.length === 0) {
             alert("ploteso fushen");
             e.preventDefault(e);
         }
     });

            $.backstretch("{{ url_for('static', filename='static/assets/img/backgrounds/1.jpg')}}");
        });*/
    </script>
</head>

<body> {% block content %} {% endblock %} </body>

</html>